{% extends 'vote/base.html' %}
{% load static %}


{% block content %}

	
<div class="wrap_content">
	<div class='row'>
		<div class='col-md-6'>
			<h1>YES or NO?</h1>
			<p>Let's answer to yourself!</p>
			<a href='#'><button class='button_light'>Go to DApp</button></a>
		</div>
		<div class='col-md-6'>
			<h1>What is this?</h1>
		<p>This is social psychological project. We all are annonyms in crypto. Who are human being and who are bot?</p>
		<p>Every person have doubts and questions for this world and for ourselves. We propose to play a game: vote for the "yes" or "no", and then show sincerity or fantasize: share in the x.com the question you answered whn voted.
		<p>Hey, we're interested in what you're thinking. Are you?
		</div>
	</div>
</div>



{% endblock %}
