/*BTN-YES*/

.btn-y {
  min-width: 200px;
  min-height: 90px;
  display: inline-flex;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.5px;
  font-weight: 700;
  color: #b4d6b0;
  /*background: #ffffff;*/
  background: linear-gradient(90deg, rgba(68,148,76,1) 0%, rgba(43, 97, 48,1) 100%);
  border: 2px solid rgba(43, 97, 48, 1); /* none;*/
  border-radius: 1000px;
  box-shadow: 2px 12px 20px rgba(0, 0, 0,.4);
  transition: all 0.3s ease-in-out 0s;
  cursor: grab;
  outline: none;
  /*position: absolute;*/
  padding: 10px;
  }

.btn-y::before {
  content: '';
  border-radius: 1000px;
  min-width: 196px;
  min-height: 86px;
  border: 3px solid rgba(43, 97, 48, 1);
  box-shadow: 0 0 60px rgba(68,148,76,1);
  position: absolute;
/*  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.btn-y:hover, 
.btn-y:focus {
  color: #cce3c9;
  transform: translateY(-3px);
  text-shadow: rgba(255, 255, 255,0.4) 0 0 10px;
  background: linear-gradient(90deg, rgba(58, 133, 66,1) 0%, rgba(43, 97, 48,1) 100%);
}


.btn-y:hover::before, 
.btn-y:focus::before {
  opacity: 1;
}

.btn-y::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 7px solid #2b6130;
  position: absolute;
  z-index: -1;
/*  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/
  animation: ring 1.5s infinite;
}

.btn-y:hover::after, 
.btn-y:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    border-radius: 1000px;
    width: 194px;
    height: 84px;
    opacity: 0.3;
  }
  100% {
    border-radius: 1000px;
    width: calc(194px + 70px);
    height: calc(84px + 70px);
    opacity: 0;
  }
}

/*BTN-NO*/

  .btn-n {
  min-width: 200px;
  min-height: 90px;
  display: inline-flex;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.5px;
  font-weight: 700;
  color: #e6b8b8;
  /*background: #ffffff;*/
  background: linear-gradient(90deg, rgba(217, 73, 73,1) 0%, rgba(169, 20, 20,1) 100%);
  border: 2px solid rgba(169, 20, 20, 1); /* none;*/
  border-radius: 1000px;
  box-shadow: 2px 12px 20px rgba(0, 0, 0,.4);
  transition: all 0.3s ease-in-out 0s;
  cursor: grab;
  outline: none;
  /*position: absolute;*/
  padding: 10px;
  }

.btn-n::before {
content: '';
  border-radius: 1000px;
  min-width: 196px;
  min-height: 86px;
  border: 3px solid rgba(169, 20, 20, 1);
  box-shadow: 0 0 60px rgba(169, 20, 20,1);
  position: absolute;
/*  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.btn-n:hover, 
.btn-n:focus {
  color: #e3c9c9;
  transform: translateY(-3px);
  text-shadow: rgba(255, 255, 255,0.4) 0 0 10px;
  background: linear-gradient(90deg, rgba(199, 48, 48) 0%, rgba(169, 20, 20,1) 100%);
}


.btn-n:hover::before, 
.btn-n:focus::before {
  opacity: 1;
}

.btn-n::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 7px solid #8e1f1f;
  position: absolute;
  z-index: -1;
/*  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/
  animation: ring 1.5s infinite;
}

.btn-n:hover::after, 
.btn-n:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    border-radius: 1000px;
    width: 194px;
    height: 84px;
    opacity: 0.3;
  }
  100% {
    border-radius: 1000px;
    width: calc(194px + 70px);
    height: calc(84px + 70px);
    opacity: 0;
  }
}