@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", serif!important;
  font-weight: 300;
  font-style: normal;
}

a {
  text-decoration: none;
}


.we_200{
    font-weight: 200;
}
.we_300{
    font-weight: 300;
}
.we_400{
    font-weight: 400;
}
.we_500{
    font-weight: 500;
}
.we_600{
    font-weight: 600;
}

.copyright{
  font-size: .8em;
}

.wrap_yesno {
  margin: -30em 0 0 0;
  position: relative;
  z-index: 110;
}

.wrap_content {
  margin: -36em auto 0 auto;
  max-width: 70%;
  position: relative;
  z-index: 110;
}

.wrap_content_about{
  margin: -56em auto 0 auto;
  max-width: 70%;
  position: relative;
  z-index: 110;
}

.wrap_content_statistic{
  margin: -46em auto 0 auto;
  max-width: 70%;
  position: relative;
  z-index: 110;
}

.footer_link{
  margin: 1.2em;
  color: #212529;
  font-weight: 400;
}

.social_icon{
  width: 2em;
  margin: 0 .3em;
}

.hide {
  display: none;
}

.block {
  display: block;  
}

.button_dark {
  background: rgb(33, 37, 41);
  border: 1px rgb(33, 37, 41) solid;
  border-radius: 8px!important;
  box-shadow: 1px 3px 3px 1px rgba(0,0,0,0.1);
  min-width: 7em;
  margin: 1em auto .5em auto!important;
  padding: .3em .8em;
  color: #b4dc8d;
}
.button_dark:hover{
  background: rgb(41, 44, 48);
  border: 1px rgb(41, 44, 48) solid;
}



.button_light {
  background: rgb(118, 154, 59);
  border: 1px rgb(118, 154, 59) solid;
  border-radius: 8px!important;
  box-shadow: 1px 3px 3px 1px rgba(0,0,0,0.1);
  min-width: 7em;
  margin: 1em auto .5em auto!important;
  padding: .3em .8em;
}
.button_light:hover{
  background: rgb(126, 165, 60);
  border: 1px rgb(126, 165, 60) solid;
}

#parable {
    height: 80vh;
    overflow-y: auto;
    border: none;
    padding: 16px;
    box-sizing: border-box;
}


.chart-canvas {
    width: 100%; 
    height: auto;
}



/*  */ /*  */ /*  */ /*  */ /*  */ /*  */
/*  */ /*  */ /*  */ /*  */ /*  */ /*  */
/*  */ /*   DIFFERENT SCREENS   */ /*  */
/*  */ /*  */ /*  */ /*  */ /*  */ /*  */
/*  */ /*  */ /*  */ /*  */ /*  */ /*  */


/* PHONE & TABLET */

@media (max-width: 810px) {

  .styledi {
    width: 98% !important;
    margin-left: auto;
    margin-right: auto;
  }
}



/* DESCTOP */

@media (min-width: 811px) {

  .styledi {
    width: 50% !important;
    margin-left: auto;
    margin-right: auto;
  }

}