{% load static %}

<link rel='stylesheet' href='{% static "swiper/swiper.min.css" %}' type='text/css'>

<style>

	.container_swipe {
		height: 70%;
		display: flex;
		justify-content: center;
		align-items: center;
		background: transperent;
		flex-direction: column;
	}

	.timeline {
		width: 100%;
		background: transparent;
	}



	/* DESCTOP */

	@media (min-width: 811px) {
		.timeline .swiper-container {
			height: 500px;
			width: 100%;
			position: relative;
		}
	}
	/* PHONE */

	@media (max-width: 810px) {
		.timeline .swiper-container {
			height:300px;
			width: 100%;
			position: relative;
		}
	}
	.timeline .swiper-wrapper {
		transition: 2s cubic-bezier(0.68, -0.4, 0.27, 1.34) 0.2s;
	}

	.timeline .swiper-slide {
		position: relative;
		color: #212529;
		overflow: hidden;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
	}

	.timeline .swiper-slide::after {
		content: "";
		position: absolute;
		z-index: 1;
		right: -115%;
		bottom: -10%;
		width: 100%;
		height: 100%;
		background:transparent;
		border-radius: 100%;
	}

	.timeline .swiper-slide-content {
		position: absolute;
		text-align: center;
		width: 80%;
		max-width: 310px;
		right: 50%;
		top: 13%;
		transform: translate(50%, 0);
		font-size: 1em;
		z-index: 2;
	}

	.timeline .swiper-slide .timeline-year {
		display: block;
		font-size: 1em;
		margin-bottom: 1em;
		transform: translate3d(20px, 0, 0);
		color: #212529;
		font-weight: 500;
		opacity: 0;
		transition: 0.2s ease 0.4s;
	}

	.timeline .swiper-slide .timeline-title {
		font-weight: 400;
		font-size: 1.6em;
		margin: 0;
		color: #b4dc8d;
		opacity: 0;
		transform: translate3d(20px, 0, 0);
		transition: 0.2s ease 0.5s;
	}

	.timeline .swiper-slide .timeline-text {
		line-height: 1.5;
		opacity: 0;
		transform: translate3d(20px, 0, 0);
		transition: 0.2s ease 0.6s;
	}

	.timeline .swiper-slide-active .timeline-year {
		opacity: 1;
		transform: translate3d(0, 0, 0);
		transition: 0.4s ease 1.6s;
	}

	.timeline .swiper-slide-active .timeline-title {
		opacity: 1;
		transform: translate3d(0, 0, 0);
		transition: 0.4s ease 1.7s;
	}

	.timeline .swiper-slide-active .timeline-text {
		opacity: 1;
		transform: translate3d(0, 0, 0);
		transition: 0.4s ease 1.8s;
	}

	.timeline .swiper-pagination {
		right: 15% !important;
		height: 100%;
		display: none;
		flex-direction: column;
		justify-content: center;
		font-weight: 300;
		font-size: 1.2em;
		z-index: 1;
	}

	.timeline .swiper-pagination::before {
		content: "";
		position: absolute;
		left: -31px;
		top: 0;
		height: 100%;
		width: 2px;
		background-color: rgba(180, 220, 141, 0.2);
	}

	.timeline .swiper-pagination-bullet {
		width: auto;
		height: auto;
		text-align: center;
		opacity: 1;
		background: transparent;
		color: #212529;
		margin: 15px 0 !important;
		position: relative;
	}

	.timeline .swiper-pagination-bullet::before {
		content: "";
		position: absolute;
		top: 4px;
		left: -33px;
		width: 6px;
		height: 6px;
		border-radius: 100%;
		background-color: #b4dc8d;
		transform: scale(0);
		transition: 0.2s;
	}

	.timeline .swiper-pagination-bullet-active {
		color: #b4dc8d;
	}

	.timeline .swiper-pagination-bullet-active::before {
		transform: scale(1);
	}

	.timeline .swiper-button-next,
	.timeline .swiper-button-prev {
		background-size: 20px 20px;
		top: 15%;
		width: 20px;
		height: 20px;
		margin-top: 0;
		z-index: 2;
		transition: 0.2s;
	}

	.timeline .swiper-button-prev {
		left: 8%;
		background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23d4a024'%2F%3E%3C%2Fsvg%3E");
	}

	.timeline .swiper-button-prev:hover {
		transform: translateX(-3px);
	}

	.timeline .swiper-button-next {
		right: 8%;
		background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23d4a024'%2F%3E%3C%2Fsvg%3E");
	}

	.timeline .swiper-button-next:hover {
		transform: translateX(3px);
	}

	@media screen and (min-width: 768px) {
		.timeline .swiper-slide::after {
			right: -30%;
			bottom: -8%;
			width: 240px;
			height: 50%;
		}

		.timeline .swiper-slide-content {
			right: 40%;
			top: 50%;
			transform: translateY(-50%);
			width: 310px;
			font-size: 1em;
			text-align: right;
		}

		.timeline .swiper-slide .timeline-year {
			margin-bottom: 0;
			font-size: 1em;
		}

		.timeline .swiper-slide .timeline-title {
			font-size: 1.8em;
			color: #b4dc8d;
			margin: 0;
		}

		.timeline .swiper-pagination {
			display: flex;
		}

		.timeline .swiper-button-prev {
			top: 15%;
			left: auto;
			right: 17%;
			transform: rotate(90deg) translate(0, 10px);
		}

		.timeline .swiper-button-prev:hover {
			transform: rotate(90deg) translate(-3px, 10px);
		}

		.timeline .swiper-button-next {
			top: auto;
			bottom: 15%;
			right: 17%;
			transform: rotate(90deg) translate(0, 10px);
		}

		.timeline .swiper-button-next:hover {
			transform: rotate(90deg) translate(3px, 10px);
		}
	}

	@media screen and (min-width: 1024px) {
		.timeline .swiper-slide::after {
			right: -20%;
			bottom: -12%;
			width: 240px;
			height: 50%;
		}

		.timeline .swiper-slide-content {
			right: 40%;
		}
	}
</style>


<div class='d-none d-lg-block d-xl-block d-xxl-block'><div class='pt-5'></div></div>

<div class="timeline-year d-block d-lg-none">
	<h1>Roadmap</h1>
</div>
<div class="container_swipe">
    <div class="timeline">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" data-year="Stage&nbsp;I">
                    <div class="swiper-slide-content">
                        <span class="timeline-year d-block d-lg-none">Stage I</span>
                        <h4 class="timeline-title">Vote for fun</h4>
                        <p class="timeline-text pt-3">Make transactions and have fun. Just take part in voting and share your questions on x.com. The most active users will receive project tokens.</p>
                    </div>
                </div>
                <div class="swiper-slide" data-year="Stage&nbsp;II">
                    <div class="swiper-slide-content">
                        <span class="timeline-year d-block d-lg-none">Stage II</span>
                        <h4 class="timeline-title">Tokens issuance & Airdrop</h4>
                        <p class="timeline-text pt-3">The most active users will claim YES & NO tokens. We will account for interactions with the smart contract through the website's web interface and posts on x.com.</p>
                    </div>
                </div>
                <div class="swiper-slide" data-year="Stage&nbsp;III">
                    <div class="swiper-slide-content">
                        <span class="timeline-year d-block d-lg-none">Stage III</span>
                        <h4 class="timeline-title">The Big Pool Lottery</h4>
                        <p class="timeline-text pt-3">YES and NO tokens can be bought for MON. Tokens will give access to lottery pools. Vote as minority and win.</p>
                    </div>
                </div>
            </div>

			<div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
			<div class="swiper-pagination"></div>
        </div>
    </div>
</div>



<script src="{% static 'swiper/swiper.min.js' %}"></script>
<script type="text/javascript">
    var timelineSwiper = new Swiper ('.timeline .swiper-container', {
  direction: 'vertical',
  loop: false,
  speed: 1600,
  pagination: '.swiper-pagination',
  paginationBulletRender: function (swiper, index, className) {
    var year = document.querySelectorAll('.swiper-slide')[index].getAttribute('data-year');
    return '<span class="' + className + '">' + year + '</span>';
  },
  paginationClickable: true,
  nextButton: '.swiper-button-next',
  prevButton: '.swiper-button-prev',
  breakpoints: {
    768: {
      direction: 'horizontal',
    }
  }
});
</script>